ocapi=https://api.ocp-jmojdmrlvnxlxvq200713.do280.rht-eu.nextcle.com:6443
ocid=66e0c56b-2f53-4d12-8336-a4f7d3af50ea
ocdomain=apps.ocp-jmojdmrlvnxlxvq200713.do280.rht-eu.nextcle.com
ockadm=kubeadmin
ocpwd=73PmK-Fb83K-jMY5L-Hrzdi
ocpwd=8ed6f0570095cc90823a88a35ce58e81
gitu=sangeetprasad
quayu=sangeetprasad

