ocapi=https://api.ocp-wjgzjnkqojwezdy200712.do280.rht-eu.nextcle.com:6443
ocid=04c50944-8682-4b5c-8f2f-f80c7d55a07a
ocdomain=apps.ocp-wjgzjnkqojwezdy200712.do280.rht-eu.nextcle.com
ockadm=kubeadmin
ockpwd=cUENn-V7gbR-GkGu7-vkm9B
ocpwd=ea3728c0440c53ed648c8b133b79d807
gitu=sangeetprasad
quayu=sangeetprasad

